@keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-float-1 {
    animation: float 4s ease-in-out infinite;
  }
  
  .animate-float-2 {
    animation: float 5s ease-in-out infinite;
    animation-delay: 1s;
  }
  
  .animate-float-3 {
    animation: float 6s ease-in-out infinite;
    animation-delay: 2s;
  }
  
  .animate-float-4 {
    animation: float 2s alternate-reverse infinite;
    animation-delay: 3s;
  }
  
  .animate-float-5 {
    animation: float 2s ease-in-out infinite;
    animation-delay: 4s;
  }
  
  .animate-float-6 {
    animation: float 1s ease-in-out infinite;
    animation-delay: 5s;
  }
  .animate-float-7 {
    animation: float 6s ease-out infinite;
    animation-delay: 3s;
  }
  .animate-float-8 {
    animation: float 6s ease-in-out infinite;
    animation-delay: 1s;
  }
  .animate-float-9 {
    animation: float 6s ease-in-out infinite;

    animation-delay: 1s;
  }
  .animate-float-10 {
    animation: float 4s ease-in-out infinite;

    animation-delay: 1s;
  }

  .animate-move-from-left {
    animation: moveFromLeft 3s ease-out forwards;
  }
  
  
  
  @keyframes moveFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  @keyframes fallDown {
    0% {
      transform: translateY(-100vh);
      opacity: 0;
    }
    50% {
      transform: translateY(-100vh); 
      opacity: 0;
    }
    75% {
      transform: translateY(-100vh); 
      opacity: 0;
    }
    100% {
      transform: translateY(0); 
      opacity: 1;
    }
  }
  
  .animate-fall-down {
    animation: fallDown 3s ease-out forwards;
    animation-delay: 0.5s; 
  }