@keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-float-1 {
    animation: float 4s ease-in-out infinite;
  }
  
  .animate-float-2 {
    animation: float 5s ease-in-out infinite;
    animation-delay: 1s;
  }
  
  .animate-float-3 {
    animation: float 6s ease-in-out infinite;
    animation-delay: 2s;
  }
  
  .animate-float-4 {
    animation: float 5s alternate-reverse infinite;
    animation-delay: 3s;
  }
  
  .animate-float-5 {
    animation: float 4s ease-in-out infinite;
    animation-delay: 4s;
  }
  
  .animate-float-6 {
    animation: float 6s ease-in-out infinite;
    animation-delay: 5s;
  }
  .animate-float-7 {
    animation: float 6s ease-out infinite;
    animation-delay: 3s;
  }
  .animate-float-8 {
    animation: float 6s ease-in-out infinite;
    animation-delay: 1s;
  }
  .animate-float-9 {
    animation: float 12s ease-in-out infinite;

    animation-delay: 1s;
  }