.banner {
  width: 100%;
  background: url("../assets/images/banner.gif");
  background-size: cover;
  font-size: 10vw;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 3.5vw;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-text {
  margin-top: 5px;
  white-space: nowrap;
  text-wrap: wrap;
  text-align: left;
  font-size: 1.5vw;
  max-width: 95%;
}

@media (max-width: 768px) {
  .banner-text {
    white-space: normal;
    font-size: 2vw;
    text-overflow: clip;
    max-width: 100%;
    text-emphasis: inherit;
  }
  .big-text{
    font-size: 5vw;
  }
}
